<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    {{>parts/head}}
</head>
<body>
{{>parts/navbar}}
<div class="form-group mx-sm-3 mb-2">
</div>
{{#message}}
    {{message}}
{{/message}}
{{^addaccount}}
<form action="/accounts/edit/{{addaccount.id}}" method="post">
{{/addaccount}}
    {{#addaccount}}
    <form action="/accounts/add" method="post">
    {{/addaccount}}
    <div class="form-group mx-sm-3 mb-2">
        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="Name">Name:</label>
                <input type="text" class="form-control {{#rateError}}is-invalid{{/rateError}}" id="name" placeholder="name" name="rate" value="{{account.name}}">
                {{#rateError}}
                <div class="invalid-feedback">
                    {{rateError}}
                </div>
                {{/rateError}}
            </div>
        </div>
        <div class="form-row">
             <div class="form-group col-sm-20">
            <label for="InputDate">Date open:</label>
            <input type="date"  class="form-control {{#dateError}}is-invalid{{/dateError}}" id="InputDate" placeholder="Date" name="openingDate"  value="{{openingDate}}">
             {{#dateError}}
                 <div class="invalid-feedback">
                     {{dateError}}
                 </div>
             {{/dateError}}
             </div>
        </div>

        <div class="input-group mb-3">
            <div class="form-row">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Currency</label>
            </div>
            <select name="currency" class="custom-select mr-sm-2" id="inputGroupSelect">
                {{#selectedcurrency}}
                <option {{&selectedcurrency}}</option>
                {{/selectedcurrency}}
                {{^selectedcurrency}}
                <option selected>Choose...</option>
                {{/selectedcurrency}}
                {{#currencylist}}
                <option value={{.}}>{{.}}</option>
                {{/currencylist}}
            </select>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-row">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">User</label>
                </div>
                <select name="user" class="custom-select mr-sm-2" id="inputGroupSelect01">

                    {{#selecteduser}}
                        <option selected {{& selecteduser}} </option>
                    {{/selecteduser}}
                    {{^selecteduser}}
                        <option selected value="0">Choose...</option>
                    {{/selecteduser}}
                    {{#userlist}}
                    <option value={{id}}>{{username}}</option>
                    {{/userlist}}
                </select>
            </div>
        </div>

        <input type="hidden" name="_csrf" value={{_csrf.token}}>
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{{>parts/script_on}}
</body>
</html>