<!doctype html>
<html lang="en">
<head>
    {{>parts/head}}
    {{#greeting}}
    <title>{{greeting}}</title>
    {{/greeting}}
</head>
<body>
{{>parts/navbar_nomenu}}
<div class="container mt-2">
    <h3>{{label.greeting}}</h3>
</div>

{{>parts/script_on}}
</body>
</html>