<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    {{>parts/head}}
</head>
<body>
{{>parts/navbar}}
<div class="form-group mx-sm-3 mb-2">
</div>
{{#message}}
    {{message}}
{{/message}}
{{^addtransaction}}
<form action="/transactions/edit/{{transaction.id}}" method="post">
{{/addtransaction}}
    {{#addtransaction}}
    <form action="/transactions/add" method="post">
    {{/addtransaction}}
    <div class="form-group mx-sm-3 mb-2">
        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="Number">Id:</label>
                <input type="text" readonly class="form-control {{#nameError}}is-invalid{{/nameError}}" id="Number" placeholder="name" name="id" value="{{transaction.id}}">
                {{#idError}}
                <div class="invalid-feedback">
                    {{idError}}
                </div>
                {{/idError}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="date">Date:</label>
                <input type="date" class="form-control {{#dateError}}is-invalid{{/dateError}}" id="date" placeholder="date" name="date" value="{{transactionDate}}">
                {{#dateError}}
                <div class="invalid-feedback">
                    {{dateError}}
                </div>
                {{/dateError}}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="form-row">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">From account</label>
                </div>
                <select name="fromAccount" class="custom-select mr-sm-2" id="inputGroupSelect01">

                    {{#selectedaccountFrom}}
                        <option selected {{& selectedaccountFrom}} </option>
                    {{/selectedaccountFrom}}
                    {{^selectedaccountFrom}}
                        <option selected value="0">Choose..</option>
                    {{/selectedaccountFrom}}
                    {{#accountslistFrom}}
                    <option value={{id}}>{{name}}</option>
                    {{/accountslistFrom}}
                </select>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="form-row">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect02">To account</label>
                </div>
                <select name="toAccount" class="custom-select mr-sm-2" id="inputGroupSelect02">

                    {{#selectedaccountTo}}
                    <option selected {{& selectedaccountTo}} </option>
                    {{/selectedaccountTo}}
                    {{^selectedaccountTo}}
                    <option selected value="0">Choose..</option>
                    {{/selectedaccountTo}}
                    {{#accountslistTo}}
                    <option value={{id}}>{{name}}</option>
                    {{/accountslistTo}}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="amount">Amount:</label>
                <input type="text" class="form-control {{#summaError}}is-invalid{{/summaError}}" id="amount" placeholder="amount" name="amount" value="{{transaction.amount}}">
                {{#summaError}}
                <div class="invalid-feedback">
                    {{summaError}}
                </div>
                {{/summaError}}
            </div>
        </div>

        <input type="hidden" name="_csrf" value={{_csrf.token}}>
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{{>parts/script_on}}
</body>
</html>