<!doctype html>
<html lang="en">
<head>
    {{>parts/head}}
    <title>Users</title>
</head>
<body>
{{>parts/navbar}}
<div class="container mt-2">
   {{#users}}
    {{username}}
    {{password}}
    {{active}}
   {{/users}}
</div>

{{>parts/script_on}}
</body>
</html>