<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    {{>parts/head}}
</head>
<body>
{{>parts/navbar}}
<div class="form-group mx-sm-3 mb-2">
Edit {{user.username}}:
</div>
{{#message}}
    {{message}}
{{/message}}
<form action="/user/edit/{{user.id}}" method="post">
    <div class="form-group mx-sm-3 mb-2">
         <div class="form-row">
             <div class="form-group col-sm-20">
            <label for="InputName">User Name:</label>
            <input type="text" class="form-control {{#usernameError}}is-invalid{{/usernameError}}" id="InputName" placeholder="User Name" name="username" value="{{user.username}}">
             {{#usernameError}}
                 <div class="invalid-feedback">
                     {{usernameError}}
                 </div>
             {{/usernameError}}
             </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="emailgroup">Email:</label>
                <input type="email" class="form-control {{#emailError}}is-invalid{{/emailError}}" id="emailgroup" placeholder="Email" name="email" value="{{user.email}}">
                {{#emailError}}
                <div class="invalid-feedback">
                    {{emailError}}
                </div>
                {{/emailError}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="InputPassword">Password:</label>
                <input type="password" class="form-control {{#passwordError}}is-invalid{{/passwordError}}" id="InputPassword" placeholder="Password" name="password">
                {{#passwordError}}
                <div class="invalid-feedback">
                    {{passwordError}}
                </div>
                {{/passwordError}}
            </div>
        </div>
        {{#roles}}
        <div class="form-row">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="{{key}}group" placeholder="{{key}}" name="{{key}}" {{value}} >
                <label class="form-check-label" for="{{key}}group">{{key}}</label>
            </div>
        </div>
        {{/roles}}
        <div class="form-row">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="Activegroup" placeholder="Active" name="active" checked = {{active}}>
            <label class="form-check-label" for="Activegroup">Active</label>
        </div>
        </div>
        <input type="hidden" name="_csrf" value={{_csrf.token}}>
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{{>parts/script_on}}
</body>
</html>