<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    {{>parts/head}}
</head>
<body>
{{>parts/navbar}}
<div class="form-group mx-sm-3 mb-2">
</div>
{{#message}}
    {{message}}
{{/message}}
{{^addexchange}}
<form action="/exchange/edit/{{exchange.id}}" method="post">
{{/addexchange}}
    {{#addexchange}}
    <form action="/exchange/add" method="post">
    {{/addexchange}}
    <div class="form-group mx-sm-3 mb-2">
         <div class="form-row">
             <div class="form-group col-sm-20">
            <label for="InputDate">Date record:</label>
            <input type="date"  data-date-format="yyyy-mm-dd" class="form-control {{#dateError}}is-invalid{{/dateError}}" id="InputDate" placeholder="Date" name="date" value="{{exchange.date}}">
             {{#dateError}}
                 <div class="invalid-feedback">
                     {{dateError}}
                 </div>
             {{/dateError}}
             </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-row">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Currency</label>
            </div>
            <select name="currency" class="custom-select mr-sm-2" id="inputGroupSelect01">
                <option selected>Choose...</option>
                {{#currencylist}}
                <option value={{.}}>{{.}}</option>
                {{/currencylist}}
            </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="InputRate">Rate:</label>
                <input type="number" min="0.01" step="0.01" class="form-control {{#rateError}}is-invalid{{/rateError}}" id="InputRate" placeholder="rate" name="rate" value="{{exchange.rate}}">
                {{#rateError}}
                <div class="invalid-feedback">
                    {{rateError}}
                </div>
                {{/rateError}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-20">
                <label for="InputRatio">Ratio:</label>
                <input type="number" min="1" step="1" class="form-control {{#ratioError}}is-invalid{{/ratioError}}" id="InputRatio" placeholder="ratio" name="ratio" value="{{exchange.ratio}}">
                {{#ratioError}}
                <div class="invalid-feedback">
                    {{ratioError}}
                </div>
                {{/ratioError}}
            </div>
        </div>

        <input type="hidden" name="_csrf" value={{_csrf.token}}>
    <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{{>parts/script_on}}
</body>
</html>