<!doctype html>
<html lang="en">
<head>
    {{>parts/head}}
    <title>{{welcome}}</title>
</head>
<body>
{{>parts/navbar}}
<div class="container mt-2">
    <h3>{{welcome}}</h3>
</div>

{{>parts/script_on}}
</body>
</html>