<!doctype html>
<html lang="en">
<head>
    {{>parts/head}}
    <title>Transactions</title>
</head>
<body>
{{>parts/navbar}}
<div class="container mt-2">
    <table class="table">
        <thead class="table-success">
        <tr><th>number</th><th>date</th><th>from</th><th>to</th><th>amount</th><th></th><th></th></tr>
        </thead>
    {{#transactions}}
        <tr>
            <td>{{id}}</td>
            <td>{{date}}</td>
            <td>{{fromAccount.name}}</td>
            <td>{{toAccount.name}}</td>
            <td>{{amount}}</td>
            <td>
                <a href="/transactions/edit/{{id}}" class="btn btn-outline-primary" role="button" aria-pressed="true">Edit</a>
            </td>
            <td>
                <a href="/transactions/delete/{{id}}" class="btn btn-outline-danger" role="button" aria-pressed="true">Delete</a>
            </td>
             </tr>
   {{/transactions}}
    </table>
    <a href="/transactions/add" class="btn btn-outline-primary" role="button" aria-pressed="true">Add new transaction</a>

</div>

{{>parts/script_on}}
</body>
</html>