<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="/main">
                <img src="images/1340048.svg" width="50" height="50" alt="">
            </a>
            <li class="nav-item active">
                <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
            </li>

            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Lang
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/?lang=en">English</a>
                    <a class="dropdown-item" href="/?lang=ru">Russian</a>
                </div>
            </div>

        </ul>
    </div>
</nav>
